In [30]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer

In [2]:
links = pd.read_csv('links.csv')
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
tags = pd.read_csv('tags.csv')

In [3]:
def change_string(s):
    return ' '.join(s.replace(' ', '').replace('-', '').split('|'))

In [4]:
movies['genres'] = [change_string(g) for g in movies.genres.values]

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,2,Jumanji (1995),Adventure Children Fantasy
2,3,Grumpier Old Men (1995),Comedy Romance
3,4,Waiting to Exhale (1995),Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
movies_with_tags = movies.join(tags.set_index('movieId'), on='movieId')

In [7]:
movies_with_tags.head()

,movieId,title,genres,userId,tag,timestamp
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,336.0,pixar,1.139046e+09
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,474.0,pixar,1.137207e+09
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,567.0,fun,1.525286e+09
1,2,Jumanji (1995),Adventure Children Fantasy,62.0,fantasy,1.528844e+09
1,2,Jumanji (1995),Adventure Children Fantasy,62.0,magic board game,1.528844e+09

In [8]:
movies_with_tags.dropna(inplace=True)

In [9]:
tag_strings = []
movies_list = []

for movie, group in movies_with_tags.groupby('movieId'):
    tag_strings.append(' '.join([str(s).replace(' ', '').replace('-', '') for s in group.tag.values]))
    movies_list.append(movie)

In [10]:
movies_list[:5]

[1, 2, 3, 5, 7]

In [11]:
tag_strings[:5]

['pixar pixar fun',
 'fantasy magicboardgame RobinWilliams game',
 'moldy old',
 'pregnancy remake',
 'remake']

In [12]:
df = pd.DataFrame()

In [13]:
df['movieId'] = movies_list
df['tags'] = tag_strings

In [14]:
df.head()

   movieId                                       tags
0        1                            pixar pixar fun
1        2  fantasy magicboardgame RobinWilliams game
2        3                                  moldy old
3        5                           pregnancy remake
4        7                                     remake

In [15]:
movies_with_tags = movies.join(df.set_index('movieId'), on='movieId')

In [20]:
movies_with_tags.head()

,movieId,title,genres,tags,genres+tags
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,pixar pixar fun,Adventure Animation Children Comedy Fantasy pi...
1,2,Jumanji (1995),Adventure Children Fantasy,fantasy magicboardgame RobinWilliams game,Adventure Children Fantasy fantasy magicboardg...
2,3,Grumpier Old Men (1995),Comedy Romance,moldy old,Comedy Romance moldy old
3,4,Waiting to Exhale (1995),Comedy Drama Romance,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,pregnancy remake,Comedy pregnancy remake

In [21]:
movies_with_tags = movies_with_tags.fillna('')

In [22]:
movies_with_tags['genres+tags'] = movies_with_tags['genres'] + ' ' + movies_with_tags['tags']

In [23]:
movies_with_tags.head()

,movieId,title,genres,tags,genres+tags
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy,pixar pixar fun,Adventure Animation Children Comedy Fantasy pi...
1,2,Jumanji (1995),Adventure Children Fantasy,fantasy magicboardgame RobinWilliams game,Adventure Children Fantasy fantasy magicboardg...
2,3,Grumpier Old Men (1995),Comedy Romance,moldy old,Comedy Romance moldy old
3,4,Waiting to Exhale (1995),Comedy Drama Romance,,Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy,pregnancy remake,Comedy pregnancy remake

In [45]:
movies_with_tags = movies_with_tags.drop(['genres', 'tags'], axis = 1)

In [46]:
movies_with_tags.head()

,movieId,title,genres+tags
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy pi...
1,2,Jumanji (1995),Adventure Children Fantasy fantasy magicboardg...
2,3,Grumpier Old Men (1995),Comedy Romance moldy old
3,4,Waiting to Exhale (1995),Comedy Drama Romance
4,5,Father of the Bride Part II (1995),Comedy pregnancy remake

In [48]:
movies_with_tags = movies_with_tags.join(ratings.groupby(['movieId']).mean()['rating'], on='movieId')

In [272]:
movies_with_tags.head()

,movieId,title,genres_tags,avg_rating
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy pi...,3.920930
1,2,Jumanji (1995),Adventure Children Fantasy fantasy magicboardg...,3.431818
2,3,Grumpier Old Men (1995),Comedy Romance moldy old,3.259615
3,4,Waiting to Exhale (1995),Comedy Drama Romance,2.357143
4,5,Father of the Bride Part II (1995),Comedy pregnancy remake,3.071429

In [62]:
ratings.groupby(['userId']).count().sort_values(by='movieId', ascending=False).head()

        movieId  rating  timestamp
userId
414        2698    2698       2698
599        2478    2478       2478
474        2108    2108       2108
448        1864    1864       1864
274        1346    1346       1346

In [68]:
user_data = ratings[ratings['userId'] == 414]

In [65]:
movies_with_tags.rename(columns={'genres+tags': 'genres_tags', 'rating': 'avg_rating'}, inplace=True)

In [70]:
user_data = user_data.join(movies_with_tags.set_index('movieId'), on='movieId')

In [283]:
user_data.head()

,userId,movieId,rating,timestamp,title,genres_tags,avg_rating
62294,414,1,4.0,961438127,Toy Story (1995),Adventure Animation Children Comedy Fantasy pi...,3.920930
62295,414,2,3.0,961594981,Jumanji (1995),Adventure Children Fantasy fantasy magicboardg...,3.431818
62296,414,3,4.0,961439278,Grumpier Old Men (1995),Comedy Romance moldy old,3.259615
62297,414,5,2.0,961437647,Father of the Bride Part II (1995),Comedy pregnancy remake,3.071429
62298,414,6,3.0,961515642,Heat (1995),Action Crime Thriller,3.946078

## предсказание на основе текстовых данных

In [421]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(user_data['genres_tags'])

tfidf_transformer = TfidfTransformer()
X = tfidf_transformer.fit_transform(X_train_counts)

In [422]:
y = user_data['rating']

In [423]:
from sklearn.model_selection import train_test_split

In [424]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [425]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [426]:
reg.predict(X_test)[:10]

array([3.06364436, 3.51960781, 3.75837769, 3.53765141, 1.89002423,
       3.70437044, 3.05055792, 3.50520613, 3.63959845, 3.33263856])

In [427]:
y_test[:10]

63225    2.0
64972    4.5
64718    2.0
63818    3.0
62495    3.0
64532    3.5
64333    2.5
64925    4.0
63819    2.5
64835    5.0
Name: rating, dtype: float64

In [428]:
reg.score(X_train, y_train)

0.3579530074714453

In [429]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(y_test, reg.predict(X_test)))

0.940536059132094

## Расчет с учетом средней оценки по фильму и применением PCA

In [433]:
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(user_data['genres_tags'])

tfidf_transformer = TfidfTransformer()
X = tfidf_transformer.fit_transform(X_train_counts)

X = pd.DataFrame(X.toarray())

In [434]:
user_data['avg_rating'].reset_index(inplace = True, drop = True)

In [435]:
X['rating'] = user_data['avg_rating']

In [436]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X)
X = scaler.transform(X)

In [437]:
X.shape

(2698, 1094)

In [438]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 200)
X = pca.fit_transform(X)

In [439]:
X

array([[-0.08602483, -0.13337068, -0.16613083, ..., -0.76797411,
         1.2201812 ,  1.67162466],
       [-0.22376612, -0.14060804, -0.18443324, ..., -0.43792266,
         0.9544845 ,  0.39628034],
       [-0.22060772, -0.13692916, -0.1885051 , ...,  1.42324864,
        -0.22294663, -0.80770096],
       ...,
       [-0.21911648, -0.13131092, -0.1802506 , ...,  0.1849113 ,
         4.40550816,  0.139572  ],
       [-0.21857305, -0.13325651, -0.18085428, ...,  0.06015192,
         0.07959884, -0.04451675],
       [-0.21671214, -0.10706945, -0.13390037, ..., -1.73840646,
         2.05504395, -0.41877865]])

In [440]:
y = user_data['rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2) 
reg = LinearRegression().fit(X_train, y_train)

In [441]:
reg.score(X_train, y_train)

0.3772361860060546

In [447]:
reg.predict(X_test)[:10]

array([3.26863976, 3.18223821, 2.97456647, 4.57430528, 3.38258534,
       2.94552579, 4.34306355, 3.2664039 , 3.09988992, 3.06368858])

In [443]:
y_test[:10]

63816    4.0
62390    3.0
63758    4.0
64243    4.0
63405    3.0
63579    3.0
64407    4.0
64311    3.5
64120    4.0
63057    3.0
Name: rating, dtype: float64

In [444]:
reg.score(X_test, y_test)

-762.2062614052505

In [445]:
np.sqrt(mean_squared_error(y_test, reg.predict(X_test)))

25.550562030552452